{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <form action="{{url_for('add_node')}}" method="POST">
        <legend>Cargar nodo</legend>
        <div class="form-group">
          <label class="col-form-label mt-4" for="name">Nombre del dispositivo</label>
          <input type="text" class="form-control" id="name" data-ddg-inputtype="unknown" name="name" 
            placeholder="Termostato de la sala" value="nodo.1" required>
        </div>
        <div class="form-group">
          <label class="col-form-label mt-4" for="id">ID del dispositivo</label>
          <input type="text" class="form-control" id="id" data-ddg-inputtype="unknown" name="id" 
            value="nodo.2" placeholder="E696729C482DE51E" required>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Guardar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
