{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <form action="{{url_for('add_contact')}}" method="POST">
        <legend>Cargar contacto</legend>
        <div class="form-group">
          <label class="col-form-label mt-4" for="inputDefault">Nombre completo</label>
          <input type="text" class="form-control" id="inputDefault" data-ddg-inputtype="unknown" name="nombre">
        </div>
        <div class="form-group">
          <label class="col-form-label mt-4" for="tel">Teléfono</label>
          <input type="tel" class="form-control" id="tel" data-ddg-inputtype="unknown" name="tel">
        </div>
        <div class="form-group">
          <label for="email" class="form-label mt-4">Email</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
            data-ddg-inputtype="identities.emailAddress" data-ddg-autofill="true">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary mt-4">guardar</button>
      </form>
    </div>
  </div>
</div>

<h1>Control de nodos</h1>


<form action="{{url_for('index')}}" method="POST">
<label for="nodo">Selecciona Nodo:</label>
    <select name="nodo" id="nodo" required>
      {% for n in nodos %}
        <option value="{{ n }}">{{ n }}</option>
      {% endfor %}
    </select>

    <label for="comando">Comando:</label>
    <select name="comando" id="comando" required>
      <option value="destello">Destello</option>
      <option value="setpoint">Setpoint</option>
    </select>

    <div id="setpoint-div" style="display:none;">
      <label for="valor_setpoint">Valor Setpoint:</label>
      <input type="number" id="valor_setpoint" name="valor_setpoint" min="0">
      <br><br>
    </div>

    <button type="submit">Enviar</button>
</form>
{% endblock %}
