{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="d-flex justify-content-start">
    <form action="{{ url_for('index') }}" method="POST">
      <fieldset>
        <label for="exampleSelect1" class="form-label mt-4">Selecciona un dispositivo: </label>
        <div class="d-flex align-items-end gap-2">
          <select class="form-select" name="nodo" id="nodo" required>
            {% for n in nodos %}
              <option value="{{ n.0 }}">{{ n.1 }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Seleccionar</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="container-fluid w-100 mt-4">
  <div class="card-group w-100">
    <!-- Card grande del gráfico -->
    <div class="card p-3 w-100">
      <h4 class="card-title text-center">Gráfico de temperatura</h4>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <div style="width:80%; height:300px; margin: auto;">
          <canvas id="tempChart"></canvas>
        </div>

        <script>
          const labels = {{ labels|tojson }};
          const chartData = {{ data|tojson }};
          const ctx = document.getElementById('tempChart').getContext('2d');
          const tempChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: labels,
              datasets: [{
                label: 'Temperatura (°C)',
                data: chartData,
                borderColor: 'rgb(75, 192, 192)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                tension: 0.4
              }]
            },
            options: {
              scales: {
                y: { suggestedMin: 10, suggestedMax: 35 }
              },
              plugins: {
                legend: { display: true }
              },
              responsive: true,
              maintainAspectRatio: false
            }
          });
        </script>
    </div>
    <!-- Card grande que agrupa los cuatro pequeños -->
    <div class="card p-3 w-100">
      <div class="row g-0 row-cols-1 row-cols-md-2">
        <!-- Foco -->
        <div class="col">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4>Foco</h4>
               <div style="text-align: center; margin-top: 50px;">
                <!-- Ícono de bombilla -->
                <i id="foco" class="fas fa-lightbulb foco"></i>
                <br>
                <button onclick="toggleFoco()" class="mt-4">Encender / Apagar foco</button>
              </div>

              <script>
                const foco = document.getElementById('foco');

                function toggleFoco() {
                  foco.classList.toggle('encendido');
                }
              </script>
            </div>
          </div>
        </div>
        <!-- Ventilador -->
        <div class="col">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4>Ventilador</h4>
              
              <div style="text-align: center; margin-top: 50px;">
                <i id="ventilador" class="fas fa-fan ventilador"></i>
                <br>
                <button onclick="toggleVentilador()" class="mt-4">Encender / Apagar</button>
              </div>

              <script>
                const ventilador = document.getElementById('ventilador');

                function toggleVentilador() {
                  ventilador.classList.toggle('girando');
                }
              </script>
            </div>
          </div>
        </div>
        <!-- Estufa -->
        <div class="col">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4>Estufa</h4>
              <div style="text-align: center; margin-top: 50px;">
                <!-- Ícono de fuego o calefactor -->
                <i id="estufa" class="fas fa-fire estufa"></i>
                <br>
                <button onclick="toggleEstufa()" class="mt-4">Encender / Apagar estufa</button>
              </div>

              <script>
                const estufa = document.getElementById('estufa');

                function toggleEstufa() {
                  estufa.classList.toggle('encendida');
                }
              </script>
            </div>
          </div>
        </div>
        <!-- Configuración -->
        <div class="col">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4>Configuración</h4>
              <p>Temperatura minima: 21°C</p>
              <p>Temperatura maxima: 30°C</p>
              <p>Histeresis: 5°C</p>
              <p>Porcentaje de luz: 20%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion mt-4" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <div class="d-flex justify-content-between w-100">
          <h3 class="mb-0">Lista de dispositivos</h3>
        </div>
        <div class="d-flex justify-content-end mx-3">
          <span class="badge bg-secondary">{{ nodos|length }}</span>
        </div>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID del dispositivo</th>
            <th scope="col">Nombre del dispositivo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for nodo in nodos %}
          <tr class="table-active">
            <th scope="row">{{ nodo.0 }}</th>
            <td>{{ nodo.1 }}</td>
            <td>
              <a href="{{ url_for('borrar_nodo', id=nodo.0) }}" class="btn btn-danger">Borrar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
